/* Font icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/slick.eot');
    src: url('fonts/slick.eot?#iefix') format('embedded-opentype'),
    url('fonts/slick.woff') format('woff'),
    url('fonts/slick.ttf') format('truetype'),
    url('fonts/slick.svg#slick') format('svg');
}

.icon{
	display: inline-block; vertical-align: middle;
	margin-right: .2em; margin-left: .2em;
}





/*------------------------------------*\
    #SIZES
\*------------------------------------*/

.icon--iconed{ width: 16px !important; }






/*------------------------------------*\
	#COLOR
\*------------------------------------*/

.icon path,
.icon polygon{ fill: currentColor; }