.icon{
	display: inline-block; vertical-align: middle;
	margin-right: .2em; margin-left: .2em;
}





/*------------------------------------*\
    #SIZES
\*------------------------------------*/

.icon--iconed{ width: 16px !important; }






/*------------------------------------*\
	#COLOR
\*------------------------------------*/

.icon path,
.icon polygon{ fill: currentColor; }