/*------------------------------------*\
	#Navigation
\*------------------------------------*/

#global-nav{
	.transition;
}

#global-nav a{
	display: block;
	padding: 12px 14px 16px 14px;
	text-transform: uppercase; text-decoration:none;
	font-size: 14px; font-weight:normal;
	color: @light;
	.transition;

	@media (min-width: @large) {
		padding: 12px 10px 16px 10px;
	}

	@media (min-width: @xlarge) {
		padding: 12px 14px 16px 14px;
	}

}

#global-nav.spanish a{
	font-size: 12px;
	padding: 12px 6px 16px 6px;
}

#global-nav a:hover { color: #fff; }
#global-nav a.active { color: #ea6c53; }
#global-nav li:last-child a { padding-right: 0; }
#global-nav li.parent ul a { padding:14px 10px; }
#global-nav li.parent ul li:last-child a { padding-right:10px; }
#global-nav li.parent ul li:first-child a { padding-right: 0; }