/*------------------------------------*\
	#Header
\*------------------------------------*/

header {
	width: 100%; height: 60px;
	padding: 10px 0;
	background: @dark;
	position: fixed; top: 0; left: 0;
	z-index: @zIndex-10;
	.transition;

	@media (min-width: @medium) {
		height: 90px;
	}

}

header.opened{
	height: 140px;
}

#global-header .helper {
	width: 100%;
}

#global-header #linkhome { float:left; }
#global-header #linkhome a,
#global-header #linkhome img { display:block; }

.logo{
	width: 62px; height: auto;
}