/*------------------------------------*\
	#Header
\*------------------------------------*/

header {
	width: 100%; height: 60px;
	padding: 10px 0;
	background: @dark;
	position: fixed; top: 0; left: 0;
	z-index: @zIndex-10;
	//.transition(all 0.15s ease);

	@media (min-width: @medium) {
		height: 90px;
	}

}

header.opened{
	@media (min-width: @large) {
		height: 140px;
	}
}

header.scrolled{
	@media (min-width: @large) {
		height: 60px;

		.logo{ width: 34px; }
		h1{ font-size: 94%; }

		#global-mini-nav{
			width: 40px;
			position: relative; top: 6px;
			float: right;
		}
		.social-icons{ display: none !important; }

		.helper{ width: 402px; }

		#global-nav a{ font-size: 12px; }

		#global-nav.spanish a{
			font-size: 11px;
			padding: 12px 5px 16px 5px;
		}
	}

	@media (min-width: @xlarge) {
		#global-nav a{ padding: 12px 14px 16px 14px; }

		#global-nav.spanish a{
			font-size: 12px;
			padding: 12px 10px 16px 10px;
		}

		.helper{ width: 480px; }
	}
}

header.opened.scrolled{
	@media (min-width: @large) {
		height: 110px;
	}
}

#global-header .helper {
	width: 100%;
}

#global-header #linkhome { float:left; }
#global-header #linkhome a,
#global-header #linkhome img { display:block; }

.logo{
	width: 36px; height: auto;
	.transition;

	@media (min-width: @medium) {
		width: 62px;
	}
}