/*------------------------------------*\
	#Navigation
\*------------------------------------*/

#global-nav{
	.transition;
}

#global-nav a{
	display: block;
	padding: 12px 14px 16px 14px;
	text-transform: uppercase; text-decoration:none;
	font-size: 14px; font-weight:normal;
	color: @light;
}
#global-nav a:hover { color: #fff; }
#global-nav a.active { color: #ea6c53; }
#global-nav li:last-child a { padding-right: 0; }
#global-nav li.parent ul a { padding:14px 10px; }
#global-nav li.parent ul li:last-child a { padding-right:10px; }
#global-nav li.parent ul li:first-child a { padding-right: 0; }