/*------------------------------------*\
	#Lists
\*------------------------------------*/

/**
 * Reset
**/

ul{
	padding: 0; margin: 0;
	list-style: none;
}

.global-nav__ul {
	width: 100%; max-height: 0;
	margin: 0;
	position: absolute; top: 60px; left: 0;
	overflow: hidden;
	.clearfix;
	.transition;

	@media (min-width: @medium) {
		top: 90px;
	}

	@media (min-width: @large) {
		width: auto; height: auto; max-height: none;
		position: relative; top: 0; left: 0;
		overflow: visible;
		float: right;
	}
}

.global-nav__ul.opened{
	max-height: 300px;
	overflow: visible;

	@media (min-width: @large) {
		max-height: auto
	}
}

ul.group {
	width: 100%; max-height: 0;
	border-top: 0px solid @dark;
	background: @dark;
	position: absolute; left: 0;
	overflow: hidden;
	//.transition(all 0.3s ease);
	.clearfix;

	@media (min-width: @large) {
		width: 182%;
		border: none;
		left: -82%;
	}
}
ul.group.opened {
	max-height: 300px;
	border-top: 2px solid @secondary;

	@media (min-width: @large) {
		border: none;
	}
}

ul.group li {
	float: left;

	@media (min-width: @large) {
		float: right;
	}
}

.mainList{
	margin-top: @unit;
	.clearfix;
}
.mainList li{
	width: 100%;
	padding: 0 @unit; margin-bottom: @unit;
	text-align: center;
	float: left;

	@media (min-width: @small) {
		width: 50%;
		text-align: left;
	}

}

.mainList li a{ display: block; }

.mainList li img{
	display: block;
	max-width: 100%; height: auto;
	margin-left: auto; margin-right: auto;
}

.subList{
	padding: 0;
	margin: 0 0 0 0;
	list-style: none;
}
.subList li{
	width: 310px;
	padding: 0; margin: 5px 0 5px 5px;
	float: left;
}

.additionalPages{

}
.additionalPages li{
	width: 100%;
	margin: @unit 0;
	clear: both;

	background: @light;
	.drop-shadow (0px 1px 7px 2px rgba(0, 0, 0, 0.5));
	overflow: hidden;
}

.additionalPages li ul li{ width: auto; }
.additionalPages li .videosList li{
	padding: 0; border: 0; margin: 0 20px 0 0;
	float:left;
	clear:none;
}

.latestNews{
	padding: 0; margin: 0;
	list-style: none;
}
.latestNews li{
	padding: 15px 0 15px 0; margin:10px 0; border-bottom: 1px solid #dcdcdc;
}

.latestNewsSide li{
	padding-bottom: (@unit/2); border-bottom: 1px solid @intermediate; margin-bottom: (@unit/2);
}

.leftColView{
	width:210px;
	border-right: 1px solid #b3b3b3; padding-bottom:100px; margin-right:20px;
	float:left;
}
.leftColView ul{
	margin:10px 0 10px 10px;padding: 0;
	list-style:none;
}
.leftColView ul li{
	margin:10px 0;
	list-style:none;
}
.leftColView ul li a{
	font-size:14px;
	text-transform:uppercase;
	color:#171612;
}

.profileList{}
.profileList li{
	width:265px; height:40px;
	margin: 5px 20px 5px 10px;
	float:left;
}

.comments{
	padding: 0;
	list-style:none;
}
.comments li{
	padding:10px 0; border-bottom:1px solid #dcdcdc;
}

#carouselnav ul {
	width:158px;
	margin: 0 auto; padding: 0;list-style:none;float:right; }
#carouselnav li {
	font-weight:bold;
	float:left;
}

.videosList{
	width:100%;
	padding: 0; margin: 0 0 20px 0;
	list-style:none;
}
.videosList li{
	padding: 0; margin: 0 20px 0 0;
	float:left;
}