/*------------------------------------*\
	#Cards
\*------------------------------------*/

.card{
	background: @light;
	.drop-shadow (0px 1px 7px 2px rgba(0, 0, 0, 0.5));
	overflow: hidden;
}




/*------------------------------------*\
	#Card contents
\*------------------------------------*/

/**
 * Media
**/
.card{
	iframe,
	img{ width: 100%; height: auto; }
}



/**
 * Text
**/
.card__text{
	padding: @unit;
}

.card__text a{
	word-wrap: break-word;
}

.card--small .card__text{
	max-height: 105px;
	padding: (@unit/2);
	overflow: hidden;

	@media (min-width: @medium) {
		padding-top: (@unit/2); padding-right: (@unit*1.5); padding-bottom: (@unit/2); padding-left: 0;
	}
}

.card--small .card__link{
	padding-left: (@unit/2);
	position: absolute; bottom: (@unit/2);

	@media (min-width: @medium) {
		padding-left: 0;
	}
}

.card--news .card__text{
	padding: (@unit);
	overflow: hidden;

	@media (min-width: @small) {
		padding: 16px 20px;
	}
	@media (min-width: @medium) {
		padding: 9px 20px;
	}
	@media (min-width: @large) {
		padding: 9px 25px;
	}
}