/*------------------------------------*\
	#Section - Blog
\*------------------------------------*/

.blogWrap{
	width:640px;
	float:left;
}
.blogExcerpt {
	padding:10px 0; border-bottom:1px solid #dcdcdc;
}
.blogExcerpt .blogInfo{
	width:400px;
	float:left;
}